# Python
__pycache__/
*.pyc
*.pyo
*.env
.env

# Rust
/rust_accelerator/target/
**/*.rs.bk
/.cargo/

# Virtual Environment
.venv/

# VSCode
.vscode/

# OS
.DS_Store

# Poetry
poetry.lock

# Docker
qdrant_data/

# Ruff
.ruff_cache/